<ul id="progressbar">
    <li class="active" id="account"><strong>Personal Information</strong></li>
    <li id="personal"><strong>Classification</strong></li>
    <li id="payment"><strong>Contact</strong></li>
    <li id="confirm"><strong>Finish</strong></li>
</ul>